name: Daily Notifications

on:
  schedule:
    # UTC Times. 
    # 13:00 UTC = 14:00 CET (Winter) / 15:00 CEST (Summer) - Close enough for "Afternoon"
    - cron: '0 13 * * *'
  workflow_dispatch: # Allows manual trigger button in GitHub UI

jobs:
  send-notif:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install Dependencies
        run: npm install

      - name: Create Service Account File
        run: echo '${{ secrets.FIREBASE_KEY }}' > service-account.json

      - name: Start Notification Script (14h / 1pm UTC)
        if: github.event.schedule == '0 13 * * *'
        run: node trigger_notification.js 14

      - name: Manual Trigger (Default)
        if: github.event_name == 'workflow_dispatch'
        run: node trigger_notification.js 14
